@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color:#ff6b6b;
    --secodary-color: #794afa;
    --secondary-dark-color:#453c5c;
    
    --white-color:#fff;
    --light-color:#f2f3f5;
    --light-text-color:#7c899a;
    --light-bg-color:#c4c4c4;
    --border-color:#e5e8ec;
    --dark-color:#0a0a21;
    
    --font-small:13px;
    --font-smaller:11px;
    
    --parcent100: 100%;
    --parcent50: 50%;
    
    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
    
}

.products.main .item{
    flex-direction: column;
    flex: 0 0 100%;
    padding: 0 0.938em;
    padding-bottom: 2em;
}
.products.main .media{
    height: 390px;
}
.products.main .footer{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 1em 1em;
    border-radius: 7px;
    z-index: 1;
    background: linear-gradient(0deg, var(--light-bg-color) 0%, var(--white-color));
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: all .2s ease-in-out;
}



.products.main .footer ul{
    list-style: disc;
    padding: 1.25em 0 0 1.25em;
    line-height: 1.8;
    border-top: 1px solid var(--border-color);
    margin-top: 145px;
}
.products.main .item:hover .content > *:not(.footer){
    z-index: 3;
}

.products.main .item:hover .footer {
    opacity: 1;
    visibility: visible;
}







@media screen and (min-width:768px) {
    .products.main .item{
        flex: 0 0 33%;
    }
}



