@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color:#ff6b6b;
    --secodary-color: #794afa;
    --secondary-dark-color:#453c5c;
    
    --white-color:#fff;
    --light-color:#f2f3f5;
    --light-text-color:#7c899a;
    --light-bg-color:#c4c4c4;
    --border-color:#e5e8ec;
    --dark-color:#0a0a21;
    
    --font-small:13px;
    --font-smaller:11px;
    
    --parcent100: 100%;
    --parcent50: 50%;
    
    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
    
}

.products.main .item{
    flex-direction: column;
    flex: 0 0 100%;
    padding: 0 0.938em;
    padding-bottom: 2em;
}
.products.main .media{
    height: 390px;
}
.products.main .footer{
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 1em 1em;
    border-radius: 7px;
    z-index: 1;
    background: linear-gradient(0deg, var(--light-bg-color) 0%, var(--white-color));
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: all .2s ease-in-out;
}



.products.main .footer ul{
    list-style: disc;
    padding: 1.25em 0 0 1.25em;
    line-height: 1.8;
    border-top: 1px solid var(--border-color);
    margin-top: 145px;
}
.products.main .item:hover .content > *:not(.footer){
    z-index: 3;
}

.products.main .item:hover .footer {
    opacity: 1;
    visibility: visible;
}

.banner .item{
    position: relative;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
}
.banner .image{
    text-align: right;
}
.banner .get-gray{
    background-color: var(--border-color);
}
.banner :where(.text-content, .over-link){
    position: absolute;
    top: 0;
    left: 0;
    width: var(--parcent100);
    height: var(--parcent100);
}
.banner .text-content {
    padding: 1.5em 2.5em;
}
.banner h3{
    font-size: calc(1em + 0.5vw);
    font-weight: var(--fw3);
}
.banner h3 span{
    font-size: 80%;
}
.banner .primary-button{
    z-index: 3;
}

.banners .products-categories .item{
    display: flex;
    padding: 1.5em;
}
.banners .products-categories .image{
    max-width: 150px;
}
.mini-links ul{
    font-size: var(--font-small);
    color: var(--light-text-color);
    margin-top: 1em;
}
.banners .second-links{
    margin-top: 2em;
}
.mini-links li a:hover{
    text-decoration: underline;
}


















@media screen and (min-width:768px) {
    .products.main .item{
        flex: 0 0 33%;
    }
    .products .price .current{
        font-size: 1.25em;
    }
    .banner .row{
        flex: 0 0 50%;
    }
    .products-categories .row{
        flex: 0 0 33.33%;
    }
}



