@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color:#ff6b6b;
    --secodary-color: #794afa;
    --secondary-dark-color:#453c5c;
    
    --white-color:#fff;
    --light-color:#f2f3f5;
    --light-text-color:#7c899a;
    --light-bg-color:#ecdbe4;
    --border-color:#e5e8ec;
    --dark-color:#04040a;
    
    --font-small:13px;
    --font-smaller:11px;
    
    --parcent100: 100%;
    --parcent50: 50%;
    
    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;
    
    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
    
}

.header-main {
    background-color: var(--secondary-dark-color);
    padding: 1.5em 0;
    margin-bottom: 2em;
    
}
.dpt-cat{
    position: relative;
    z-index: 10;
}
.dpt-cat .dpt-head{
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: var(--primary-color);
    border-radius: 7px 7px 0 0;
    color: var(--white-color);
    margin-bottom: -2.15em;
}
.dpt-cat .dpt-head .mini-text{
    color:var(--light-bg-color)
}
.dpt-cat .dpt-trigger{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1.3em;
    height: 60px;
    width: 60px;
}

.header-main .right{
    flex: 1;
}
form {
    position: relative;
}
form.search input{
    line-height: 3.25em;
    padding: 0 7em 0 4.5em;
    border: 0;
    outline: 0;
    width: var(--parcent100);
    border-radius: 7px;
    font-size: 0.9em;
    font-weight: var(--fw3);
}

/*Button ve search konumu ayarlandı*/
form.search :where(span,button){
    position: absolute;
    top: 0;
    padding: 0.55em 1.5em;
    font-size: 1em;
    color: var(--light-text-color);
    height: var(--parcent100);
}
/*Search Buttonu ayarı yapıldı */
form.search button{
    right: 0;
    border: 0;
    outline: 0;
    font-size: 0.875em;
    font-weight: var(--fw6);
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 0 7px 7px 0;
    cursor: pointer;
    transition: var(--dark-color);
}
form.search button:hover{
    background-color: var(--dark-color);
}



























@media screen and (min-width:992px){

.header-main .right{
  max-width: 600px;
  margin-left: auto;
}
  
  
}